.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar-logo img {
    height: 64px;
    width: auto;
}

.navbar-links {
    display: flex;
    list-style: none;
    gap: 8rem;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-family: var(--font-primary);
    font-weight: 300;
    transition: color 0.3s ease;
    font-size: 24px;
}

.navbar-links a:hover {
    color: #666;
}